<html>
    <head>
        <title>KnowsU</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        
    </head>
    <body>
        <div class="ui fixed inverted menu" style="background-color: #e67e22; font-size:1.1em;">
            <div class="ui container">
                <div class="header item"><i class="puzzle icon"></i>KnowsU</div>
                <a href="/" class="item">Home</a>
                <a href="/new" class="item">New Test</a>
            </div>
        </div>
        
